//@import '../node_modules/bootstrap/scss/'
embed{
    width: 100%;
    height: 80vh;
    border: solid grey 1px;
}

.form-col{
 background-color: white;
}

.jumbotron{
    background-color: white!important;
}